body {
     margin:         auto;
     background-color: #eee;
     font-size:      13pt;
	   padding-left:   5pt;
}

h1   {
     font-size:      24pt;
     font-style:     normal;
     margin-top:     15px;
}

h2   {
     font-size:      18pt;
     font-style:     normal;
}

a    {
     color:          RoyalBlue;
     text-decoration:none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.main-container {
     max-width: 100%;
     background: white;
     padding: 10px;
     /* box-shadow: 0 0 5px rgba(107, 110, 112, 0.4); */
}

.content-container {
     box-sizing: border-box;
     max-width: 900px;
     width: 100%;
     margin: 0 auto;
     margin-bottom: 20px;
     padding: 10px;
     overflow: hidden;
     box-shadow: 0 0 5px rgba(107, 110, 112, 0.4);
}

.hflex-container{
    display: flex;
    max-width: 900px;
    width: 100%;
    margin: auto;
    /* justify-content: center; */
    flex-direction: row;
    /* justify-content: flex-start; */
    /* justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly; */
    /* align-items: stretch | flex-start | flex-end | center | baseline; */
}

/*  Profile styles
--------------------------------------*/

#profile {
  justify-content: flex-start;
  align-items: flex-start;
}

#profile img{
    width: 200px;
    max-height: 300px;
    margin: 8 20 20 20;
    object-fit: contain;
}

/*  Education and Experience styles
--------------------------------------*/
.imginfo {
   max-width: 36%;
   max-height: 160px;
   display: flex;
   margin: 0 10px 0 10px;
   align-items: center;
}

.imginfo img {
      width: 36%;
      margin-right: 20px;
      object-fit: contain;
}

.imginfo p {
    font-size: 14px;
}

/*  Paper styles
    FontAwesome reference: http://astronautweb.co/snippet/font-awesome/
--------------------------------------*/
#paper {
    border-bottom: solid 1px #EEE;
    /* margin-bottom: 20px; */
    max-height: 120px;
    align-items: center;
}

#paper img {
    width: 20%;
    max-height: 110px;
    margin: 8px;
    object-fit: contain;
}

#paper .title {
    padding: 1px;
    margin: 1px;
    font-weight: bold;
}

#paper .authors {
    padding: 1px;
    margin: 1px;
    font-style: italic;
}

#paper .venue {
    display: inline-block;
    color: #500;
    margin: 1px;
    margin-right: 10px;
}

#paper .pdflink::before{
  font-family: FontAwesome;
  color: black;
  margin: 0 5 0 5;
  content: "\f1c1";
}

#paper .codelink::before{
  font-family: FontAwesome;
  color: black;
  margin: 0 5 0 5;
  content: "\f09b";
}

#paper .pptlink::before{
  font-family: FontAwesome;
  color: black;
  margin: 0 5 0 5;
  content: "\f1c4"
}

#paper .prjlink::before{
  font-family: FontAwesome;
  color: black;
  margin: 0 5 0 5;
  content: "\f085"
}
