body            {   margin:         auto;
                    background:     White;
                    font-size:      12pt;
                    font-family:    "STXingkai", "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;   
                	padding-left:   5pt;	}
h1              {   font-size:      24pt; 
                    font-style:     normal;
                    margin-top:     15px;
                    font-family:    "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;  }
h2              {   font-size:      18pt; 
                    font-style:     normal;
                    font-family:    "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;  }
a               {   color:          RoyalBlue;  
                    text-decoration:none;       }